<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script>
      // here we are getting the RoomId from server.js file and we are showing it inside "<%= roomId %>" in the format of string.
      const ROOM_ID = "<%= roomId %>";
    </script>
    <script
      defer
      src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"
    ></script>
    <!-- Here we are using a script tag to load all the socket io js code in to our front-end from our server.js-->
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="script.js" defer></script>
    <title>Online Video Conferencing Tool</title>
  </head>
  <style>
    #video-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, 300px);
      grid-auto-rows: 300px;
    }
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  </style>
  <body>
    <div id="video-grid"></div>
  </body>
</html>
